@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@0,400;1,700&display=swap');

body {
    font-family: 'Montserrat', cursive ;
    margin: 0px;
    background-color:#0a0a0a;
    color: #F2C94C
}

h1{
    padding: 2rem;
}

button{
    background-color: #F2C94C;
    border: none;
    margin: 1rem 0rem;
    padding: 1rem 2rem;
    font-family: 'Montserrat', cursive;
    font-size: large;
}

main{
    /* background-color: white; */
    padding: 1rem;
}

div{
    /* background-color: #F2C94C; */
    padding: 1rem;
    font-size: 2rem;
    text-align: center;
}

textarea {
    border: 1px solid black;
    /* background-color: white;     */
    width: 80%;
    height: 10vh;
    display: block;
    margin: 1rem;
    padding: 1rem;
}

#output {
    border: 1px solid black;
    background-color: white;
    color: black;
    height: 10vh;
    width: 80%;
    margin: 1rem;
    padding: 1rem;
}

p{
    text-align: center;
    display: block;
}